.product-details-container {
  margin-left: 100px;
  margin-right: 200px;
  height: 100%;
}
.product-details-box {
  display: flex;
}
.product-details-img {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  margin-right: 30px;
}
.product-details-info {
  width: 70%;
}
.desc {
  font-size: 13px;
}
.ava {
  font-size: 15px;
}
.cart-count {
  display: flex;
  align-items: center;
}
.sign {
  cursor: pointer;
  background-color: transparent;
  border-width: 0px;
}
.add-cart {
  font-size: 8px;
  background-color: #3b82f6;
  color: white;
  border-width: 0px;
  padding: 7px 10px 7px 10px;
  margin-bottom: 0px;
}
.similar-product-box {
  display: flex;
  flex-direction: column;
}
.titleName {
  margin-top: 0px;
  font-size: 15px;
}
.ul-list {
  display: flex;
  list-style-type: none;
}
.btn {
  background-color: #3b82f6;
  border-width: 0px;
  padding: 6px;
  color: white;
  cursor: pointer;
}
.product-failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
